@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.97 0.0 0);
  --foreground: oklch(0.2 0.0 0);
}

.dark {
  --background: oklch(0.2 0.0 0);
  --foreground: oklch(0.97 0.0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@layer utilities {
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--background) transparent;
  }
}

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-background text-foreground font-sans antialiased;
  }
}
