@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
}

@layer base {
  :root {
    --background: 0, 0%, 96%;
    --foreground: 0, 0%, 9%;
  }

  .dark {
    --background: 0, 0%, 9%;
    --foreground: 0, 0%, 96%;
  }
}

@layer utilities {
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--background) transparent;
  }
}

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-background text-foreground font-sans antialiased;
  }
}
